Source: galliumos-chromebook
Section: admin
Priority: optional
Maintainer: KalliumOS <git@kraslovision.com>
Build-Depends: debhelper (>= 9.20160709)
Standards-Version: 3.9.6

Package: galliumos-chromebook
Provides: chromebook 
Architecture: all
Priority: optional
Depends: ${misc:Depends}, xubuntu-core 
Description: GalliumOS laptop files
 This package contains laptop files for GalliumOS
