[Unit]
Description=GalliumOS system customization for Chromebooks

[Service]
ExecStart=/usr/sbin/init-laptop-settings
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
